<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Список задач</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="container">

  <div class="header">
    <div class="logo">Мой лого</div>
    <div class="auth">
      <div class="auth-btn">Вход</div>
    </div>
  </div>

  <div class="content">
    <div class="content-left-panel">
      <div class="left-nav">Мои задачи</div>
      <div class="left-nav">Создать новую задачу</div>

    </div>
    <div class="content-right-panel">
      <div class="content-right-header"><h2>Мои задачи</h2></div>
      <div class="content-right-body"><h1>Добро пожаловать!</h1></div>
    </div>
  </div>


  <div class="footer">
    Футтер
  </div>

</div>

</body>
</html>